USE [master]
GO
/****** Object:  Database [DB_Barang]    Script Date: 7/24/2025 18.59.20 ******/
CREATE DATABASE [DB_Barang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Barang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_Barang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Barang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_Barang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Barang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Barang]
GO
/****** Object:  Table [dbo].[TBL_BARANG]    Script Date: 7/24/2025 18.59.20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BARANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA] [varchar](200) NULL,
	[STOK] [int] NULL,
	[HARGA] [decimal](18, 0) NULL,
 CONSTRAINT [PK_TBL_BARANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
